<div class="mt-4">
    <h3>Cập nhật khoá học</h3>
    <form class="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name" class="form-label">Tên khoá học</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name" >
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả</label>
            <input type="text" class="form-control" value="{{course.description}}" id="description" name="description">
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">VideoID</label>
            <input type="text" class="form-control" value="{{course.videoId}}" id="videoId" name="videoId">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Trình độ</label>
            <input type="text" class="form-control" value="{{course.level}}" id="level" name="level">
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>